html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  /* Фон страницы = фон приложения */
  background-image: url("/gonext-bg.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
