html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
}

/* на всякий — все прямые обертки внутри root тоже растягиваем */
#root > * {
  width: 100%;
  height: 100%;
}